<launch>
    <node name="usb_cam_high" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video0" />
        <param name="framerate" value="60" />
        <param name="image_width" value="1280" />
        <param name="image_height" value="720" />
        <param name="pixel_format" value="mjpeg" />
        <param name="camera_frame_id" value="usb_cam_1" />
        <param name="io_method" value="userptr "/>
        <rosparam file="$(find usb_cam)/config/meet_cam.yaml" command="load"/>
    </node>

    <node name="usb_cam_low" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video2" />
        <param name="framerate" value="60" />
        <param name="image_width" value="1280" />
        <param name="image_height" value="720" />
        <param name="pixel_format" value="mjpeg" />
        <param name="camera_frame_id" value="usb_cam_2" />
        <param name="io_method" value="userptr "/>
        <rosparam file="$(find usb_cam)/config/meet_cam.yaml" command="load"/>
    </node>

    <!-- <node name="usb_cam_wrist" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video4" />
        <param name="framerate" value="60" />
        <param name="image_width" value="1280" />
        <param name="image_height" value="720" />
        <param name="pixel_format" value="mjpeg" />
        <param name="camera_frame_id" value="usb_cam_3" />
        <param name="io_method" value="userptr "/>
        <rosparam file="$(find usb_cam)/config/meet_cam.yaml" command="load"/>
    </node> -->

</launch>
